<div class="card singleItem">
  <h4 class="card-title text-center">{{order.name + " " + order.surname }}</h4>
  <div class="view overlay hm-white-slight">
    <div class="text-center cardBody">
      Lączna wartość zamówienia : <b>{{totalAmount |currency:'PLN'}}</b>
      <br>
      <div class="text-center border-info" [hidden]="!showDetails">
        <hr>
        <b>Dane adresowe</b>
        <hr>
        <b>Adres: </b>{{order.address}}<br>
        <b>E-mail: </b>{{order.email}}<br>
        <b>Telefon: </b>{{order.phoneNumber}}
        <hr>
        <b>Zamówienie</b>
        <hr>
        <app-product-short *ngFor="let product of products;let i = index" [index]=i [product]="product"></app-product-short>
      </div>
    </div>
  </div>
  <button class="btn btn-info" (click)="showDetails=!showDetails"> <span *ngIf="!showDetails">Pokaż</span> <span *ngIf="showDetails">Ukryj</span> szczególy</button>
</div>
