<form>
  <div class="form-group" (change)="sendPrice()">
    <input class="form-control-lg priceFilter" [(ngModel)]="priceFrom" type="number" id="from" min="0" name="od" placeholder="Od">
    <input class="form-control-lg priceFilter" [(ngModel)]="priceTo" type="number" id="to" min="0" name="do" placeholder="Do">
  </div>
</form>
