<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body modal-lg">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let imageUrl of imagesUrls">
      <img [src]="imageUrl" class="img-thumbnail" alt="Random first slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
