<div class="row">
  <app-filters class="col-md-2" (notify)="handleCategoryChoice($event)"></app-filters>
  <div class="col-md-8 offset-md-1">
    <app-product (notify)="handlePurchase($event)"
                 *ngFor="let product of pageDisplayManager.getProductsForPage(currentPage)"
                 [product]="product"></app-product>
    <app-pagination (notify)="handlePageChoice($event)" [pages]="pageDisplayManager.getPages()"
                    [activePage]="currentPage"></app-pagination>
  </div>
</div>
