<div [hidden]="showShortcut" class="shoppingCartButton">
  <button type="button" (click)="toCheckout()" class="btn btn-primary">
    Twój koszyk <span class="badge badge-light">{{getNumberOfPurchased()}}</span>
  </button>
</div>
