<h2 class="text-center">Dodaj promocje</h2>
Zniżka [%]: <br>
<input type="number" name="quantity" min="1" [(ngModel)]="discount.discountPercent">
<br>Czas Trwania promocji [minuty]<br>
<input type="number" name="quantity" min="1" [(ngModel)]="discount.durationInMinutes">
<hr>
<button type="button" (click)="sendDiscountOffer()"> Dodaj promocję </button>
<hr>
<h5 class="text-center">Wybierz produkty do przeceny</h5>
<hr>
<app-discountable-product (notify)="togleProduct($event)" *ngFor="let product of this.allProducts" [product]="product"></app-discountable-product>
