<div class="container-fluid all border">
  <div class="header row">
    <h4 class="col-md-9">
      {{product.name | uppercase}}
    </h4>
    <button class="btn btn-outline-primary float-right col-md-3" (click)="open()">Zdjęcia</button>
  </div>
  <div class="singleItem row">
    <div class="product col-md-4 float-left">
      <img [src]="getImageUrl()" class="img-fluid img-responsive rounded mx-auto d-block">
    </div>
    <div class="col-md-8 card-text description">{{product.description}}</div>
  </div>
  <div class="float-right">
    <span [ngStyle]="{'text-decoration':isDiscounted() ? 'line-through' : ''}" class="float-right label label-info">{{product.price | currency:'PLN'}}  </span><br>
    <span [hidden]="!isDiscounted()"
          class="float-right label label-info">{{product.DiscountedAmount | currency:'PLN'}}  </span>
    <br><button (click)="handlePurchase()" type="button" class="float-right btn btn-success">Kup teraz</button>
  </div><br><br><br><br>
</div>
