<div class="container">
  <form #productForm="ngForm" (ngSubmit)="addProduct()">
    <div class="form-group product">
      <label for="name" class="col-2 col-form-label">Nazwa</label>
      <input class="form-control form-control-lg" type="text" id="name" name="name"
             [(ngModel)]="productWrapper.product.name">
      <label for="category" class="col-2 col-form-label">Kategoria </label>
      <input class="form-control form-control-lg" type="text" id="category" name="category"
             [(ngModel)]="productWrapper.product.category">
      <label for="price" class="col-2 col-form-label">Cena </label>
      <input class="form-control form-control-lg" type="number" id="price" name="price"
             [(ngModel)]="productWrapper.product.price">
      <label for="quantity" class="col-2 col-form-label">Ilosc </label>
      <input class="form-control form-control-lg" type="number" id="quantity" name="quantity"
             [(ngModel)]="productWrapper.product.quantity">
      <label for="description" class="col-2 col-form-label">Opis </label>
      <textarea class="form-control" rows="4" name="description" id="description"
                [(ngModel)]="productWrapper.product.description"></textarea>
    </div>
    <input type="file" ng2FileSelect [uploader]="uploader" multiple />
    <br/>
    <button type="submit">Dodaj</button>
  </form>
</div>
