<div class="row">
  <div class="col-md-6">
    <h2 class="text-center">Zamówienia niezrealizowane</h2>
    <hr>
    <app-order (notify)="updateOrders()" *ngFor="let order of notCompletedOrders" [order]="order"></app-order>
  </div>
  <div class="col-md-6">
    <h2 class="text-center">Zamówienia zrealizowane</h2>
    <hr>
    <app-order (notify)="updateOrders()" *ngFor="let order of completedOrders" [order]="order"></app-order>
  </div>
</div>
