<button [hidden]="authorizationService.isLoggedIn()"class="btn-primary btn-success float-right" type="button" (click)="goToLogin()"> Zaloguj</button>
<button [hidden]="!authorizationService.isLoggedIn()"class="btn-primary btn-danger float-right" type="button" (click)="authorizationService.logOut()">   Wyloguj </button>
