<div [hidden]="userRegistration" class="container">
  <div class="offset-3 col-md-6">
    <form class="form-signin" [formGroup]="loginForm">
      <h1 class="form-signin-heading">Zaloguj się</h1>
      <div class="input-field">
        <label for="login" class="sr-only">Login</label>
        <input type="email" id="login" class="form-control" formControlName="login"
               placeholder="Login" required>
      </div>
      <div class="input-field">
        <label for="password" class="sr-only">Hasło</label>
        <input type="password" id="password" class="form-control" formControlName="password" placeholder="Hasło"
               required>
      </div>
      <button class="btn btn-lg btn-success btn-block" type="submit" (click)="login()">Zaloguj się</button>
      <button class="btn btn-lg btn-success btn-block" type="submit" (click)="toogleUserRegistration()">Zarejestruj się</button>
      <button class="btn btn-lg btn-danger btn-block" type="submit" (click)="goBack()">Wróć</button>
    </form>
  </div>
</div>
<app-signup [hidden]="!userRegistration" (notify)="toogleUserRegistration()"></app-signup>
