<h1 class="form-signin-heading">Zarejestruj się</h1>
<form (ngSubmit)="sendUser()" #clientForm="ngForm">
  <div class="form-group">
    <label for="login" class="col-2 col-form-label">Login </label>
    <input class="form-control" type="text" required [(ngModel)]="user.username" id="login" name="login" #name="ngModel">
    <div [hidden]="name.valid" class="alert-light alert-danger">
      Login
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-2 col-form-label">Hasło </label>
    <input class="form-control" type="password" [(ngModel)]="user.password" id="password" name="password" #surname="ngModel" required>
    <div [hidden]="surname.valid" class="alert-light alert-danger">
      Hasło
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-2 col-form-label">Imie </label>
    <input class="form-control" type="text" required [(ngModel)]="user.name" id="name" name="name" #name="ngModel">
    <div [hidden]="name.valid" class="alert-light alert-danger">
      Podaj imię
    </div>
  </div>
  <div class="form-group">
    <label for="surname" class="col-2 col-form-label">Nazwisko </label>
    <input class="form-control" type="text" [(ngModel)]="user.surname" id="surname" name="surname" #surname="ngModel" required>
    <div [hidden]="surname.valid" class="alert-light alert-danger">
      Podaj nazwisko
    </div>
  </div>
  <div class="form-group">
    <label for="address" class="col-2 col-form-label">Adress </label>
    <input class="form-control" type="text" [(ngModel)]="user.address" id="address" name="address" #address="ngModel" required>
    <div [hidden]="address.valid" class="alert-light alert-danger">
      Podaj poprawny adres
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-2 col-form-label">Email </label>
    <input class="form-control" type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" [(ngModel)]="user.email" id="email" name="email" #email="ngModel" required>
    <div [hidden]="email.valid" class="alert-light alert-danger">
      Podaj poprawny email
    </div>
  </div>
  <div class="form-group">
    <label for="phone" class="col-2 col-form-label">Nr telefonu </label>
    <input class="form-control" type="number" pattern="[0-9]{9}" [(ngModel)]="user.phoneNumber" #phone="ngModel"  name="phone"  id="phone" required>
    <div [hidden]="phone.valid" class="alert-light alert-danger">
      Podaj poprawny numer telefonu
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="!clientForm.form.valid" class="btn btn-primary float-right">Zarejestruj</button>
  </div>
</form>
