
<button class="btn-block btn-success newproduct" (click)="toogleShowNewProduct()">Dodaj nowy produkt</button>
<app-new-product [hidden]="!showAddNewProduct"></app-new-product>
<hr>
<h2 class="text-center">Produkty w ofercie</h2>
<app-editable-product *ngFor="let product of this.allProducts" [product]="product"></app-editable-product>
<hr>
