<div class="container" [hidden]="isDeleted">
  <form #productForm="ngForm" (ngSubmit)="updateProduct()">
    <div class="form-group product">
      <b class="float-left small">Id produktu: {{product._id}}</b>
      <button type="button" class="btn-primary float-right" [hidden]="!this.inputDisabled" (click)="enableInput()">
        Edytuj
      </button>
      <button type="button" class="btn-primary float-right" [hidden]="!this.inputDisabled" (click)="deleteProduct()">
        Usuń
      </button>
      <button type="submit" class="btn-primary float-right" [hidden]="this.inputDisabled"> Zakutalizuj produkt
      </button>
      <br>
      <label for="name" class="col-2 col-form-label">Nazwa</label>
      <input class="form-control form-control-lg" type="text" id="name" name="name" [disabled]="this.inputDisabled"
             [(ngModel)]="product.name">
      <label for="category" class="col-2 col-form-label">Kategoria </label>
      <input class="form-control form-control-lg" type="text" id="category" name="category"
             [disabled]="this.inputDisabled" [(ngModel)]="product.category">
      <label for="price" class="col-2 col-form-label">Cena </label>
      <input class="form-control form-control-lg" type="number" id="price" name="price" [disabled]="this.inputDisabled"
             [(ngModel)]="product.price">
      <label for="price" class="col-2 col-form-label">Ilość dostępnych sztuk </label>
      <input class="form-control form-control-lg" type="number" id="quantity" name="quantity"
             [disabled]="this.inputDisabled"
             [(ngModel)]="product.quantity">
      <label for="description" class="col-2 col-form-label">Opis </label>
      <textarea class="form-control" rows="4" name="description" id="description" [disabled]="this.inputDisabled"
                [(ngModel)]="product.description"></textarea>
      <div id="fileUpload" [hidden]="this.inputDisabled">
        <label>Dodaj zdjęcia</label><br>
        <input type="file" ng2FileSelect [uploader]="uploader" multiple/>
        <br/>
      </div>
    </div>
  </form>
</div>

