<label class="custom-control custom-checkbox">
  <input (click)="toogleElement()" type="checkbox" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">{{product.name}}</span>
</label>
<br>
