<nav>
  <ul class="pagination float-right">
    <li class="page-item" *ngFor="let page of pages">
      <span *ngIf="isActive(page)" class="page-link myPagination" id="active"  (click)="handlePageClicked(page)">{{page}}</span>
      <span *ngIf="!isActive(page)" class="page-link myPagination"  (click)="handlePageClicked(page)">{{page}}</span>
    </li>
  </ul>
</nav>
