.page-header {
  background-color: rgba(0,0,0,0.84);
}

h1 {
  color: beige;
  padding: 2%;
  margin: 2%;
  margin: auto;
}

h2 {
  padding: 2%;
  margin: 2%;
}

button {
  margin: auto;
  padding: 2%;
  margin: 2%;
}
