<div class="container-fluid">
  <div class="row navbar navbar-dark bg-dark sticky-top">
    <h1 class="col-md-9"> Sklep sportowy [Panel administratora]</h1>
  </div>
  <div class="row">
    <div class="col-md-2">
      <hr>
      <button type="button" (click)="setShowOrders()" class="btn-block text-center btn-lg"> Zamówienia</button>
      <br>
      <button type="button" (click)="setShowProducts()" class="btn-block text-center btn-lg"> Produkty</button>
      <br>
      <button type="button" (click)="setShowDiscounts()" class="btn-block text-center btn-lg"> Promocje</button>
    </div>
    <div class="col-md-9 offset-md-1">
      <div [hidden]="!showOrders">
        <app-orders></app-orders>
      </div>
      <div [hidden]="!showProducts">
        <app-edit-products-panel></app-edit-products-panel>
      </div>
      <div [hidden]="!showDiscounts">
        <app-discount-component></app-discount-component>
      </div>
    </div>
  </div>
