<div [hidden]="form">
  <table class="table">
    <thead>
    <h2>Produkty dodane do koszyka</h2>
    <tr>
      <th>Produkt</th>
      <th>Cena</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of getPurchasedProducts()">
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <button type="button" (click)="removeProduct(product)" class="btn btn-danger">Usuń</button>
    </tr>
    </tbody>
  </table>
  <div class="panel panel-default bg-dark float-right col-md-3">
    <div class="panel-heading float-right">Cena</div>
    <br>
    <div class="float-right panel-body">{{getTotalPrice() | currency:'PLN'}}</div>
    <br>
    <hr>
    <button type="button" (click)="goToForm()" class="btn btn-success float-right">Zamów</button>
  </div>
  <button type="button" (click)="backToProducts()" class="btn btn-primary float-left">Kontynuuj zakupy</button>
</div>
<div id="form" [hidden]="!form">
  <form (ngSubmit)="sendOrder()" #clientForm="ngForm">
    <div class="form-group">
      <label for="name" class="col-2 col-form-label">Imie </label>
      <input class="form-control" type="text" required [(ngModel)]="order.name" id="name" name="name" #name="ngModel">
      <div [hidden]="name.valid" class="alert-light alert-danger">
        Podaj imię
      </div>
    </div>
    <div class="form-group">
      <label for="surname" class="col-2 col-form-label">Nazwisko </label>
      <input class="form-control" type="text" [(ngModel)]="order.surname" id="surname" name="surname" #surname="ngModel" required>
      <div [hidden]="surname.valid" class="alert-light alert-danger">
        Podaj nazwisko
      </div>
    </div>
    <div class="form-group">
      <label for="address" class="col-2 col-form-label">Adress </label>
      <input class="form-control" type="text" [(ngModel)]="order.address" id="address" name="address" #address="ngModel" required>
      <div [hidden]="address.valid" class="alert-light alert-danger">
        Podaj poprawny adres
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-2 col-form-label">Email </label>
      <input class="form-control" type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" [(ngModel)]="order.email" id="email" name="email" #email="ngModel" required>
      <div [hidden]="email.valid" class="alert-light alert-danger">
        Podaj poprawny email
      </div>
    </div>
    <div class="form-group">
      <label for="phone" class="col-2 col-form-label">Nr telefonu </label>
      <input class="form-control" type="number" pattern="[0-9]{9}" [(ngModel)]="order.phoneNumber" #phone="ngModel"  name="phone"  id="phone" required>
      <div [hidden]="phone.valid" class="alert-light alert-danger">
        Podaj poprawny numer telefonu
      </div>
    </div>
    <div class="form-group">
    <button type="submit" [disabled]="!clientForm.form.valid" class="btn btn-primary float-right">Wyślij zamówienie</button>
    </div>
  </form>
</div>
