<button class="btn-block btn-outline-success" (click)="resetFilters()">Wyczyść filtry</button>
<hr>
<div id="nameFilter">
  <hr>
  <h2 class="page-header">Nazwa</h2>
  <app-name-filter (notify)="handleNameSearch($event)"></app-name-filter>
  <hr>
</div>
<div id="priceFilter">
  <h2 class="page-header">Cena</h2>
  <app-price-filter (notify)="handlePriceRange($event)"></app-price-filter>
  <hr>
</div>
<h2 class="page-header">Kategorie</h2>
<app-category-filter (notify)="handleCategoryChoice($event)" *ngFor="let category of categories"
                     [category]="category"></app-category-filter>
<hr>
