<div class="container-fluid">
  <div class="row navbar navbar-dark bg-dark sticky-top">
    <h1 class="col-md-9"> Sklep sportowy </h1>
    <app-login-header class="float-right" (notify)="goToLogin()"> Zaloguj</app-login-header>
    <button [hidden]="!authorizationService.isLoggedIn()" class="btn-primary btn-info" type="button"
            (click)="goToOrdersHistory()"> Zamówienia
    </button>
    <app-shopping-cart [hidden]="currentView=='checkout'" (notify)="goToCheckout()"
                       class="float-right"></app-shopping-cart>
  </div>
  <app-products-panel class="panel" [hidden]="currentView!='products'"></app-products-panel>
  <app-checkout [hidden]="currentView!='checkout'" (notify)="goToProducts()"></app-checkout>
  <app-userlogin [hidden]="currentView!='login'" (notify)="goToProducts()"></app-userlogin>
  <app-orders-history [hidden]="currentView!='ordersHistory'" (notify)="goToProducts()"
                      [orders]="userOrders"></app-orders-history>
</div>
